@import "tailwindcss";
html,body{
    background: #1A2A3A;
background: linear-gradient(90deg, rgba(26, 42, 58, 1) 0%, rgba(15, 15, 43, 1) 50%, rgba(58, 26, 74, 1) 100%);
}
@theme {
    --font-poppins: "Poppins", sans-serif;
    
}
.bg-gradient-custom{
   background:linear-gradient(90deg, rgba(26, 42, 58, 1) 0%, rgba(15, 15, 43, 1) 50%, rgba(58, 26, 74, 1) 100%);
}

.typing {
    width: 40ch;
    animation: typing 3s steps(70) infinite alternate-reverse ;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @keyframes typing {
    to{
        width: 0ch;
    }
  }